body{
    background-color: #fff;
    color: #434455;
    font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
img{
    display: block;
}
ul{
    list-style:none;
    margin: 0;
    padding-left: 0;
}
.container{
    width: 100%;
    max-width: 1158px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
}
                                                    /* HEADER */
.nav-style{
    display:inline-block;
    width: 48px;
    height: 24px;
    margin-left: 40px;
}
.container-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-nav{
    display: flex;
    align-items: center;
    
}
.site-nav .link{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:#404BBF;
}
.logo-web{
    color:#4D5AE5;
}
.logo{
    color: #2E2F42;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    padding-right: 76px;
}
.contact{
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}.contact-one{
    padding-right: 40px;
}
.contacts{
    margin-left: 330px;
    display: flex;
}
.contact:hover,
.contact:focus{
    color:#404BBF;
}
                                                              /* Hero */
.hero-container{
    background-color: #2E2F42;
    color: #ffffff;
    display: flex;
    flex-grow: 1;
    padding-top: 188px;
    padding-bottom: 292px;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    box-sizing: content-box;
    width: 400px;
}
.hero-button{
    background-color: #4D5AE5;
    color:#ffffff;
    font-family: inherit;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;

}
.hero-button:hover{
    background-color: #404BBF;
}
                                                       /* Button */
.button-primary{
    background-color: #F4F4FD;
    color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
}
.section-buttons{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 96px;
    padding-bottom: 72px;
}
.button-primary:hover,
.button-primary:focus{
    background-color: #404BBF;
    color:#FFFFFF;
}
                                                        /* Section */

.p-type-item{
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    padding-top: 8px;
}
.feature-style{
    display: flex;
    font-weight: wrap;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.feature-container{
    display: none;
}
.h3-type-item{
    font-family: 'Roboto';
    font-style: normal;
    color:#2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.work{
    display: flex;
    justify-content: center;
}
.work-images{
    display: flex;
    flex-direction: row;
    padding-top: 72px;
    padding-bottom: 120px;
    gap: 24px;
}
.container-team{
    background-color: #F4F4FD;
}
.section-team{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 72px;
}
.class-team{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.team-name{
   display: flex;
   justify-content: center;
   padding-top: 32px;
}
.team-specialty{
    display: flex;
    justify-content: center;
    padding-top: 8px;
}
.h1-portfolio{
    display: none;
}
.list-examples{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.h3-item{
    padding-top: 32px;
    padding-left: 16px;
}
.portfolio-p{
    padding-left: 16px;
    padding-bottom: 32px;
    padding-top: 8px;
}
.section-card-one{
    border: 1px solid #E7E9FC;
    margin-bottom: 48px;
}
.example-h2{
    display: none;
}
.h2-type-item{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
                                                         /* Footer */
.footer{
    background-color: #2E2F42;
    display: flex;
}
.footer-p-type{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.footer-web{
    color: #4D5AE5;
}
.footer-link{
    text-decoration: none;
    color: #F4F4FD;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
}