body{
    background-color: #fff;
    color: #434455;
    font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
img{
    display: block;
}
ul{
    list-style:none;
    margin: 0;
    padding-left: 0;
}
.container{
    width: 100%;
    max-width: 1158px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
    outline: 2px solid red;
}
                                                    /* HEADER */
.nav-style{
    display:inline-block;
    width: 48px;
    height: 24px;
    margin-left: 40px;
}
.container-header {
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
    align-items: center;
    margin-right: auto;
    
}
.site-nav .link{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:#404BBF;
}
.logo-web{
    color:#4D5AE5;
}
.logo{
    color: #2E2F42;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.contact{
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact:hover,
.contact:focus{
    color:#404BBF;
}
                                                              /* Hero */
.hero{
    background-color: #2E2F42;
    color:#ffffff;
}
.hero-container{
    display: flex;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    position: absolute;
    width: 494px;
    height: 120px;
    left: 473px;
    top: 260px;
}
.hero-button{
    background-color: #4D5AE5;
    color:#ffffff;
    font-family: inherit;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

}
.hero-button:hover{
    background-color: #404BBF;
}
                                                       /* Button */
.button-primary{
    background-color: #F4F4FD;
    color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-primary:hover,
.button-primary:focus{
    background-color: #404BBF;
    color:#FFFFFF;
}
                                                        /* Section */

.p-type-item{
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.h3-type-item{
    font-family: 'Roboto';
    font-style: normal;
    color:#2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.h2-type-item{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
                                                         /* Footer */
.footer{
    background-color: #2E2F42;
}
.footer-p-type{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.footer-web{
    color: #4D5AE5;
}
.footer-link{
    text-decoration: none;
    color: #F4F4FD;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
}